<mat-card class="mat-elevation-z2">
  <mat-card-title>
    <h1><strong>Legal Information</strong></h1>
  </mat-card-title>
</mat-card>
<mat-card class="mat-elevation-z2">
  <mat-card-content>
    <h2>Thank you for using Memory Game!</h2>
    <p>
      Please read the following pages to learn more about the
      <strong>Disclaimer</strong>, <strong>Cookie Policy</strong>,
      <strong>Privacy Policy</strong>, and <strong>Terms of Service</strong>.
    </p>
    <ul>
      <li>
        <a routerLink="/legal/disclaimer">Disclaimer</a>
      </li>
      <li>
        <a routerLink="/legal/cookie-policy">Cookie Policy</a>
      </li>
      <li>
        <a routerLink="/legal/privacy-policy">Privacy Policy</a>
      </li>
      <li>
        <a routerLink="/legal/terms-of-service">Terms of Service</a>
      </li>
    </ul>
    <p>
      The <strong>licenses</strong> for this website can be found at
      <a href="/3rdpartylicenses.txt" rel="noopener">3rdpartylicenses.txt</a>
    </p>
  </mat-card-content>
</mat-card>
