:host {
  display: block;
  padding: 8px;
}

h1 {
  margin-bottom: 0;
}

mat {
  &-card {
    background-color: rgba(255, 255, 255, 0.75);

    &:not(:last-of-type) {
      margin-bottom: 16px;
    }
  }
}

[fragment] {
  cursor: pointer;
  outline: none;

  mat-icon {
    margin-top: -3px;
    opacity: 0.25;
    vertical-align: middle;
    transition: opacity 350ms;
    will-change: opacity;
  }

  &:hover {
    mat-icon {
      opacity: 1;
    }
  }
}
