<mat-card class="mat-elevation-z2">
  <mat-card-title>
    <h1><strong>Account</strong></h1>
  </mat-card-title>
</mat-card>

<mat-card class="mat-elevation-z2">
  <mat-card-content>
    <ng-container *ngIf="authService.user$ | async as user">
      <div>
        <img [src]="user.photoURL" />
        <pre>{{ user | json }}</pre>
        <button type="button" (click)="authService.signout()">Logout</button>
        <button type="button" (click)="authService.delete()">Delete</button>
      </div>
      <div>
        <ng-container
          *ngIf="{
            value: authService.isLinkedProvider('facebook.com') | async
          } as context"
        >
          <ng-container *ngIf="!context.value; else linkF">
            <button
              type="button"
              (click)="authService.providerSignin('Facebook')"
            >
              Link with Facebook
            </button>
          </ng-container>
          <ng-template #linkF>
            <button
              type="button"
              (click)="authService.unlinkProvider('facebook.com')"
            >
              Unlink Facebook
            </button>
          </ng-template>
        </ng-container>
      </div>
      <div>
        <ng-container
          *ngIf="{
            value: authService.isLinkedProvider('github.com') | async
          } as context"
        >
          <ng-container *ngIf="!context.value; else linkGH">
            <button
              type="button"
              (click)="authService.providerSignin('Github')"
            >
              Link with GitHub
            </button>
          </ng-container>
          <ng-template #linkGH>
            <button
              type="button"
              (click)="authService.unlinkProvider('github.com')"
            >
              Unlink GitHub
            </button>
          </ng-template>
        </ng-container>
      </div>
      <div>
        <ng-container
          *ngIf="{
            value: authService.isLinkedProvider('google.com') | async
          } as context"
        >
          <ng-container *ngIf="!context.value; else linkG">
            <button
              type="button"
              (click)="authService.providerSignin('Google')"
            >
              Link with Google
            </button>
          </ng-container>
          <ng-template #linkG>
            <button
              type="button"
              (click)="authService.unlinkProvider('google.com')"
            >
              Unlink Google
            </button>
          </ng-template>
        </ng-container>
      </div>
      <div>
        <ng-container
          *ngIf="{
            value: authService.isLinkedProvider('microsoft.com') | async
          } as context"
        >
          <ng-container *ngIf="!context.value; else linkM">
            <button
              type="button"
              (click)="authService.providerSignin('Microsoft')"
            >
              Link with Microsoft
            </button>
          </ng-container>
          <ng-template #linkM>
            <button
              type="button"
              (click)="authService.unlinkProvider('microsoft.com')"
            >
              Unlink Microsoft
            </button>
          </ng-template>
        </ng-container>
      </div>
      <div>
        <ng-container
          *ngIf="{
            value: authService.isLinkedProvider('twitter.com') | async
          } as context"
        >
          <ng-container *ngIf="!context.value; else linkT">
            <button
              type="button"
              (click)="authService.providerSignin('Twitter')"
            >
              Link with Twitter
            </button>
          </ng-container>
          <ng-template #linkT>
            <button
              type="button"
              (click)="authService.unlinkProvider('twitter.com')"
            >
              Unlink Twitter
            </button>
          </ng-template>
        </ng-container>
      </div>
      <div>
        <ng-container
          *ngIf="{
            value: authService.isLinkedProvider('yahoo.com') | async
          } as context"
        >
          <ng-container *ngIf="!context.value; else linkY">
            <button type="button" (click)="authService.providerSignin('Yahoo')">
              Link with Yahoo
            </button>
          </ng-container>
          <ng-template #linkY>
            <button
              type="button"
              (click)="authService.unlinkProvider('yahoo.com')"
            >
              Unlink Yahoo
            </button>
          </ng-template>
        </ng-container>
      </div>
    </ng-container>
  </mat-card-content>
</mat-card>
