<mat-card class="mat-elevation-z2">
  <mat-card-title>
    <h1><strong>Account</strong></h1>
  </mat-card-title>
</mat-card>

<mat-card class="mat-elevation-z2">
  <mat-card-content>
    <ng-container *ngIf="authService.user$ | async as user">
      <div>
        <img [src]="user.photoURL" />
        <pre>{{ user | json }}</pre>
        <button type="button" (click)="authService.signout()">Logout</button>
        <button type="button" (click)="authService.delete()">Delete</button>
      </div>
      <ng-container *ngFor="let provider of providers">
        <div>
          <app-link-unlink-provider
            [display]="provider"
          ></app-link-unlink-provider>
        </div>
      </ng-container>
    </ng-container>
  </mat-card-content>
</mat-card>
