:host {
  display: block;
  width: 100%;
  height: 100%;

  ::ng-deep {
    router-outlet ~ .ng-animating {
      top: 0;
      z-index: 2;
      left: 0;
      position: absolute;
      width: 100%;
      box-sizing: border-box;
      overflow-y: auto;
    }
  }
}

[matRipple] {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 0;
}

.container {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
}

.content-wrapper {
  flex: 1;
  width: calc(100% - env(safe-area-inset-left) - env(safe-area-inset-right));
  position: relative;
  z-index: 1;
  overflow: auto;
  padding-top: env(safe-area-inset-top);
  padding-left: env(safe-area-inset-left);
  padding-right: env(safe-area-inset-right);
}

.wrapper {
  margin: auto;
  width: 100%;
  max-width: 992px;

  mat-card-content {
    position: relative;
    margin: -8px;
  }
}

mat-card {
  background-color: transparent;
}
