mat {
  &-card {
    &:first-of-type {
      margin-bottom: 16px;
    }
    &-content {
      max-width: calc(
        100vh - 40px - env(safe-area-inset-bottom) - env(safe-area-inset-top)
      );
      margin: auto;
    }
  }

  &-grid-tile {
    overflow: visible;
  }
}

.card-holder,
img {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.card {
  &-wrapper {
    position: absolute;
    top: 4%;
    right: 4%;
    bottom: 4%;
    left: 4%;
    perspective-origin: center;
    perspective: 800px;
  }

  &-holder {
    will-change: transform;
    transform-style: preserve-3d;
    border-radius: 12px;
    transition: transform 250ms;

    &::before {
      content: '';
      z-index: 2;
      border-radius: 17px;
      will-change: border;
      position: absolute;
      top: -6px;
      right: -6px;
      bottom: -6px;
      left: -6px;
      transition: border 250ms;
      border: 0px solid transparent;
      transform: rotateY(-180deg);
    }

    &.f-3-t-0 {
      &::before {
        border: 4px solid red;
      }
    }

    &.f-4-t-0 {
      &::before {
        border: 4px solid green;
      }
    }
  }

  &-action {
    transform: rotateY(-180deg);
  }

  &-blank,
  &-holder {
    transform: rotateY(0deg);
  }
}

img {
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
  opacity: 0.99999;
  border-radius: 12px;
}
