<h1 mat-dialog-title>🎉 {{ 'YOU_WON' | translate }} 🎉</h1>
<div mat-dialog-content>
  <p>
    {{ 'YOUR_RESULTS_FOR_THIS_GAME' | translate }}{{ 'FULL_STOP' | translate }}
  </p>
  <p>
    <b>{{ 'FLIPS' | translate }}</b
    >:
    <span>{{ data.flips | number: '1.0':translate.currentLang }}</span>
  </p>
  <p>
    <b>{{ 'TIME' | translate }}</b
    >:
    <span *ngIf="data.complete.hours">
      {{ data.complete.hours | number: '2.0':translate.currentLang }} hr
    </span>
    <span *ngIf="data.complete.minutes || data.complete.hours">
      {{ data.complete.minutes | number: '2.0':translate.currentLang }} min
    </span>
    <span
      *ngIf="
        data.complete.seconds || data.complete.minutes || data.complete.hours
      "
    >
      {{ data.complete.seconds | number: '2.0':translate.currentLang }} sec
    </span>
    <span
      *ngIf="
        data.complete.milliseconds ||
        data.complete.seconds ||
        data.complete.minutes ||
        data.complete.hours
      "
    >
      {{ data.complete.milliseconds | number: '3.0':translate.currentLang }} ms
    </span>
  </p>
</div>
<div mat-dialog-actions>
  <button
    mat-flat-button
    color="primary"
    type="button"
    [mat-dialog-close]="'reset'"
  >
    {{ 'RESET' | translate }}
  </button>
</div>
