mat-icon {
  margin: {
    right: 8px;
    left: -6px;
  }
  padding: 3px;
  vertical-align: middle;
}

button {
  text-align: center;
  width: 100%;
  max-width: 400px;
  margin-bottom: 8px;
  background-color: rgba(255, 255, 255, 0.5);
  backdrop-filter: blur(12px) brightness(1.1);
  border: {
    color: transparent;
    style: solid;
    width: 3px;
  }

  &::before {
    content: '';
    z-index: -1;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: -4px;
    position: absolute;
    opacity: 0;
    border: {
      color: inherit;
      style: solid;
      width: 5px;
      radius: 9px;
    }
    transition: opacity 350ms;
  }

  &:hover {
    &::before {
      opacity: 1;
    }
  }
}

div {
  display: inline-block;
  text-align: left;
  width: 100%;
  max-width: 200px;
}
