mat {
  &-card {
    margin-bottom: 16px;

    &:last-of-type {
      margin-bottom: 0px;
    }
  }

  &-form-field {
    &:first-child {
      margin-right: 16px;
    }
  }
}

button {
  float: right;
  margin-top: -8px;
}

table {
  width: 100%;

  td,
  th {
    min-width: 110px;
    padding-left: 24px;
    padding-right: 24px;

    &:first-of-type {
      min-width: 50px;
      padding-right: 0;
    }

    &:last-of-type {
      min-width: 35px;
      padding-left: 0;
    }
  }
}
