:host {
  display: block;
  padding: 8px;
}

mat {
  &-card {
    background-color: rgba(255, 255, 255, 0.5);
    margin-bottom: 16px;

    &:last-of-type {
      margin-bottom: 0px;
    }
  }

  &-form-field {
    &:first-of-type {
      margin-right: 16px;
    }
  }
}

button {
  float: right;
  margin-top: -8px;
}

table {
  background-color: rgba(255, 255, 255, 0);
  width: 100%;

  td,
  th {
    padding: {
      left: 24px;
      right: 24px;
    }
    min-width: 110px;

    &:first-of-type {
      min-width: 50px;
      padding-right: 0;
    }

    &:last-of-type {
      min-width: 35px;
      padding-left: 0;
    }
  }
}
