<mat-card class="mat-elevation-z0">
  <mat-card-title>
    Statistics
    <small>
      <button
        mat-flat-button
        color="primary"
        type="button"
        (click)="clear($event)"
        (touchend)="clear($event)"
      >
        Clear
      </button>
    </small>
  </mat-card-title>
</mat-card>
<mat-card class="mat-elevation-z0">
  <mat-card-content>
    <div class="grid">
      <mat-card class="mat-elevation-z0">
        <mat-card-content>
          <app-high-scores></app-high-scores>
        </mat-card-content>
      </mat-card>
      <mat-card class="mat-elevation-z0">
        <mat-card-content>
          <app-recent-scores></app-recent-scores>
        </mat-card-content>
      </mat-card>
    </div>
  </mat-card-content>
</mat-card>
