<span *ngIf="!forIOS">{{ 'INSTALL_MEMORY_GAME' | translate }}</span>
<span *ngIf="forIOS">
  {{ 'INSTALL_MEMORY_GAME' | translate }}{{ 'FULL_STOP' | translate }} Tap
  <img src="assets/icons/Navigation_Action_2x.png" />
  then <b>"{{ 'ADD_TO_HOME_SCREEN' | translate }}"</b>
</span>
<div class="mat-simple-snackbar-action">
  <button
    mat-button
    (click)="dismiss(true)"
    [attr.aria-label]="'INSTALL' | translate"
    *ngIf="!forIOS"
  >
    <mat-icon aria-hidden="false">get_app</mat-icon>
  </button>
  <button
    mat-button
    (click)="dismiss(false)"
    [attr.aria-label]="'CLOSE' | translate"
  >
    <mat-icon aria-hidden="false">close</mat-icon>
  </button>
</div>
