/* You can add global styles to this file, and also import other style files */

html,
body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, 'Helvetica Neue', sans-serif;
}

.mat-snack-bar-handset {
  .mat-snack-bar-container.snack-bar-reposition {
    margin-bottom: calc(48px + env(safe-area-inset-bottom));
  }
}
