<mat-card class="mat-elevation-z2">
  <mat-card-title>
    <h1><strong>Website Terms and Conditions of Use</strong></h1>
  </mat-card-title>
</mat-card>
<mat-card class="mat-elevation-z2" id="terms">
  <mat-card-title>
    <h2 routerLink="." fragment="terms">
      Terms
      <mat-icon aria-hidden="true">link</mat-icon>
    </h2>
  </mat-card-title>
  <mat-card-content>
    <p>
      By accessing this Website, accessible from {{ policy.location }}, you are
      agreeing to be bound by these Website Terms and Conditions of Use and
      agree that you are responsible for the agreement with any applicable local
      laws. If you disagree with any of these terms, you are prohibited from
      accessing this site. The materials contained in this Website are protected
      by copyright and trade mark law.
    </p>
  </mat-card-content>
</mat-card>
<mat-card class="mat-elevation-z2" id="license">
  <mat-card-title>
    <h2 routerLink="." fragment="license">
      Use License
      <mat-icon aria-hidden="true">link</mat-icon>
    </h2>
  </mat-card-title>
  <mat-card-content>
    <p>
      Permission is granted to temporarily download one copy of the materials on
      {{ policy.name }}'s Website for personal, non-commercial transitory
      viewing only. This is the grant of a license, not a transfer of title, and
      under this license you may not:
    </p>

    <ul>
      <li>modify or copy the materials;</li>
      <li>
        use the materials for any commercial purpose or for any public display;
      </li>
      <li>
        attempt to reverse engineer any software contained on
        {{ policy.name }}'s Website;
      </li>
      <li>
        remove any copyright or other proprietary notations from the materials;
        or
      </li>
      <li>
        transferring the materials to another person or "mirror" the materials
        on any other server.
      </li>
    </ul>

    <p>
      This will let {{ policy.name }} to terminate upon violations of any of
      these restrictions. Upon termination, your viewing right will also be
      terminated and you should destroy any downloaded materials in your
      possession whether it is printed or electronic format. These Terms of
      Service has been created with the help of the
      <a href="https://www.termsofservicegenerator.net" rel="noopener"
        >Terms Of Service Generator</a
      >
      and the
      <a href="https://www.generateprivacypolicy.com" rel="noopener"
        >Privacy Policy Generator</a
      >.
    </p>
  </mat-card-content>
</mat-card>
<mat-card class="mat-elevation-z2" id="disclaimer">
  <mat-card-title>
    <h2 routerLink="." fragment="disclaimer">
      Disclaimer
      <mat-icon aria-hidden="true">link</mat-icon>
    </h2>
  </mat-card-title>
  <mat-card-content>
    <p>
      All the materials on {{ policy.name }}’s Website are provided "as is".
      {{ policy.name }} makes no warranties, may it be expressed or implied,
      therefore negates all other warranties. Furthermore,
      {{ policy.name }} does not make any representations concerning the
      accuracy or reliability of the use of the materials on its Website or
      otherwise relating to such materials or any sites linked to this Website.
    </p>
  </mat-card-content>
</mat-card>
<mat-card class="mat-elevation-z2" id="limitations">
  <mat-card-title>
    <h2 routerLink="." fragment="limitations">
      Limitations
      <mat-icon aria-hidden="true">link</mat-icon>
    </h2>
  </mat-card-title>
  <mat-card-content>
    <p>
      {{ policy.name }} or its suppliers will not be hold accountable for any
      damages that will arise with the use or inability to use the materials on
      {{ policy.name }}’s Website, even if {{ policy.name }} or an authorize
      representative of this Website has been notified, orally or written, of
      the possibility of such damage. Some jurisdiction does not allow
      limitations on implied warranties or limitations of liability for
      incidental damages, these limitations may not apply to you.
    </p>
  </mat-card-content>
</mat-card>
<mat-card class="mat-elevation-z2" id="revisions">
  <mat-card-title>
    <h2 routerLink="." fragment="revisions">
      Revisions and Errata
      <mat-icon aria-hidden="true">link</mat-icon>
    </h2>
  </mat-card-title>
  <mat-card-content>
    <p>
      The materials appearing on {{ policy.name }}’s Website may include
      technical, typographical, or photographic errors. {{ policy.name }} will
      not promise that any of the materials in this Website are accurate,
      complete, or current. {{ policy.name }} may change the materials contained
      on its Website at any time without notice. {{ policy.name }} does not make
      any commitment to update the materials.
    </p>
  </mat-card-content>
</mat-card>
<mat-card class="mat-elevation-z2" id="links">
  <mat-card-title>
    <h2 routerLink="." fragment="links">
      Links
      <mat-icon aria-hidden="true">link</mat-icon>
    </h2>
  </mat-card-title>
  <mat-card-content>
    <p>
      {{ policy.name }} has not reviewed all of the sites linked to its Website
      and is not responsible for the contents of any such linked site. The
      presence of any link does not imply endorsement by {{ policy.name }} of
      the site. The use of any linked website is at the user’s own risk.
    </p>
  </mat-card-content>
</mat-card>
<mat-card class="mat-elevation-z2" id="modifications">
  <mat-card-title>
    <h2 routerLink="." fragment="modifications">
      Site Terms of Use Modifications
      <mat-icon aria-hidden="true">link</mat-icon>
    </h2>
  </mat-card-title>
  <mat-card-content>
    <p>
      {{ policy.name }} may revise these Terms of Use for its Website at any
      time without prior notice. By using this Website, you are agreeing to be
      bound by the current version of these Terms and Conditions of Use.
    </p>
  </mat-card-content>
</mat-card>
<mat-card class="mat-elevation-z2" id="privacy">
  <mat-card-title>
    <h2 routerLink="." fragment="privacy">
      Your Privacy
      <mat-icon aria-hidden="true">link</mat-icon>
    </h2>
  </mat-card-title>
  <mat-card-content>
    <p>
      Please read our <a routerLink="/legal/privacy-policy">Privacy Policy</a>.
    </p>
  </mat-card-content>
</mat-card>
<mat-card class="mat-elevation-z2" id="law">
  <mat-card-title>
    <h2 routerLink="." fragment="law">
      Governing Law
      <mat-icon aria-hidden="true">link</mat-icon>
    </h2>
  </mat-card-title>
  <mat-card-content>
    <p>
      Any claim related to {{ policy.name }}'s Website shall be governed by the
      laws of us without regards to its conflict of law provisions.
    </p>
  </mat-card-content>
</mat-card>
