<mat-card class="mat-elevation-z2">
  <mat-card-title>
    {{ 'SETTINGS' | translate }}
    <button
      mat-flat-button
      color="warn"
      type="button"
      (click)="profiler.profile()"
      *ngIf="!profiler.environment"
    >
      {{ 'PROFILE' | translate }}
    </button>
  </mat-card-title>
</mat-card>

<!--
<mat-card class="mat-elevation-z2">
  <mat-card-title>{{ 'LANGUAGE' | translate }}</mat-card-title>
  <mat-card-content>
    <a [routerLink]="['/', 'en', tempRoute]">EN</a>
    <br />
    <a [routerLink]="['/', 'es', tempRoute]">ES</a>
    <br />
    <a [routerLink]="['/', 'de', tempRoute]">DE</a>
    <br />
    <a [routerLink]="['/', 'hi', tempRoute]">HI</a>
    <br />
    <a [routerLink]="['/', 'bn', tempRoute]">BN</a>
    <br />
    <a [routerLink]="['/', 'bg', tempRoute]">BG</a>
  </mat-card-content>
</mat-card>
-->

<mat-card class="mat-elevation-z2">
  <mat-card-title>{{ 'VOLUME' | translate }}</mat-card-title>
  <!-- [0, 1, 2] -->
  <!-- 0 = masterVolume -->
  <!-- 1 = effectsVolume -->
  <!-- 2 = ambientVolume -->
  <ng-container *ngFor="let item of [0, 1]; trackBy: trackBy">
    <mat-card-content>
      <h3>{{ settingOptions[item].title | translate }}</h3>
      <mat-slider
        [min]="0"
        [thumbLabel]="true"
        [step]="0.02"
        [max]="1"
        [displayWith]="formatLabel"
        [tickInterval]="0.02"
        [(ngModel)]="settingOptions[item].value"
        (input)="inputChange($event, settingOptions[item].key)"
      ></mat-slider>
    </mat-card-content>
  </ng-container>
</mat-card>

<mat-card class="mat-elevation-z2">
  <mat-card-title>{{ 'GAME' | translate }}</mat-card-title>
  <!-- [3, 4, 5] -->
  <!-- 3 = match -->
  <!-- 4 = count -->
  <!-- 5 = mode -->
  <ng-container *ngFor="let item of [3, 4]; trackBy: trackBy">
    <mat-card-content>
      <h3>{{ settingOptions[item].title | translate }}</h3>
      <mat-form-field>
        <mat-label>{{ settingOptions[item].title | translate }}</mat-label>
        <mat-select
          [(ngModel)]="settingOptions[item].value"
          (selectionChange)="inputChange($event, settingOptions[item].key)"
        >
          <ng-container *ngIf="item === 3">
            <mat-option *ngFor="let val of [2, 3, 4]" [value]="val">
              {{ val | number: '1.0':translate.currentLang }}
            </mat-option>
          </ng-container>
          <ng-container *ngIf="item === 4">
            <mat-option *ngFor="let val of [2, 4, 6]" [value]="val">
              {{ val | number: '1.0':translate.currentLang }}
            </mat-option>
          </ng-container>
          <ng-container *ngIf="item === 5">
            <mat-option
              *ngFor="let val of ['memorize', 'regular']"
              [value]="val"
            >
              {{ val.toUpperCase() | translate }}
            </mat-option>
          </ng-container>
        </mat-select>
      </mat-form-field>
    </mat-card-content>
  </ng-container>
</mat-card>
