<ng-container *ngFor="let menu of menuButtons; trackBy: trackBy">
  <app-main-menu-button
    [icon]="menu.icon"
    [label]="menu.label"
    [route]="menu.route"
    [theme]="menu.theme"
    (setTheme)="setTheme($event)"
  ></app-main-menu-button>
</ng-container>
<ng-container *ngIf="auth.user$ | async">
  <app-main-menu-button
    [icon]="accountButton.icon"
    [label]="accountButton.label"
    [route]="accountButton.route"
    [theme]="accountButton.theme"
    (setTheme)="setTheme($event)"
  ></app-main-menu-button>
</ng-container>
