<div matRipple [matRippleDisabled]="true"></div>
<div class="container" [ngClass]="theme.theme">
  <div #contentWrapper class="content-wrapper" (scroll)="scroll($event)">
    <div class="wrapper">
      <mat-card class="mat-elevation-z0">
        <ng-container *ngIf="false">
          <div *ngIf="authService.user$ | async as user;">
            <img [src]="user.photoURL" />
            <pre>{{ user | json }}</pre>
            <button type="button" (click)="authService.signout()">
              Logout
            </button>
            <a
              [routerLink]="['/', language.lang | async, 'account']"
              routerLinkActive="router-link-active"
              >Account</a
            >
          </div>
        </ng-container>
        <mat-card-content [@fadeAnimation]="getRouterOutletState(o)">
          <router-outlet #o="outlet"></router-outlet>
        </mat-card-content>
      </mat-card>
    </div>
  </div>
  <app-main-menu class="mat-elevation-z4" [ripple]="ripple"></app-main-menu>
</div>
