:host {
  &.mat-simple-snackbar {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    line-height: 20px;
  }
}

img {
  height: 1.2em;
  // vertical-align: text-bottom;
  filter: invert(1);
  margin-right: 4px;
  margin-left: 4px;
}

.mat-simple-snackbar-action {
  flex-shrink: 0;
  margin: -8px -8px -8px 8px;

  button {
    max-height: 36px;
    min-width: 0;
  }
}
