<ng-container *ngFor="let menu of menuButtons; trackBy: trackBy">
  <a
    mat-button
    [attr.aria-label]="menu.label"
    disableRipple="true"
    (click)="setTheme($event, menu.theme, rla)"
    [routerLink]="[menu.route]"
    routerLinkActive="router-link-active"
    #rla="routerLinkActive"
  >
    <mat-icon
      aria-hidden="false"
      [fontSet]="rla.isActive ? 'material-icons-outlined' : 'material-icons'"
      [color]="rla.isActive ? 'primary' : ''"
    >
      {{ menu.icon }}
    </mat-icon>
    <span>
      {{ menu.label }}
    </span>
  </a>
</ng-container>
