:host {
  width: calc(100% - env(safe-area-inset-left) - env(safe-area-inset-right));
  height: 40px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  position: relative;
  z-index: 2;
  padding-bottom: env(safe-area-inset-bottom);
  padding-left: env(safe-area-inset-left);
  padding-right: env(safe-area-inset-right);
}

span {
  margin-left: 8px;
  display: none;

  @media screen and (min-width: 520px) {
    display: inline;
  }
}
